:root {
  /* fonts */
  --font-barlow: Barlow;
  --font-roboto: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslateblue: #1d376c;
  --color-whitesmoke: #f9f9f9;

  /* Gaps */
  --gap-2xs: 3.75px;
  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-lg: 25px;
  --gap-xl: 50px;

  /* Paddings */
  --padding-xs: 15px;
  --padding-sm: 25px;
  --padding-md: 30px;
  --padding-lg: 40px;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 20px;
}
