*{
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat';
    
}

/* I'm giving this class to all the text expect headings */
.font__size{
  font-size: 22px !important;
}

.header__1{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #6D6D6D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

/* .header__2{
    
} */

.header__2__title{
    color: white;
    /* margin-left: 3rem; */
    padding-left: 279px;
    padding-right: 279px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    /* font-weight: 400; */
    /* font-size: 40px; */
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */

    font-weight: 600;
    font-size: 36px;
    
}

.breadcrumbs{
    /* margin-left: 3rem; */
    padding-left: 279px;
    padding-right: 279px;
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-family: 'Barlow';

}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    /* overflow: hidden; */
    /* to remove scroll option un-comment above */
    /* flex: 1; */
    display: flex;
    /* margin-left: 3rem;
    margin-right: 3rem; */
    padding-left: 279px;
    padding-right: 279px;
    column-gap: 1rem;

}

aside{
    /* 250 px is the width of right sidebar */
    flex: 0 0 270px;
}

article{
    /* display: flex; */
    /* flex-direction: column; */
}

.main__heading{
    font-size: xx-large;
    font-weight: 700;
}

.content{
    /* overflow: auto; */
}

footer{
    /* no need */
}


@media screen and (max-width:800px) {
    aside{
        /* flex: 0 0 200px; */
        display: none;
    }
    .header__2__title{
      padding-left: 140px;
      padding-right: 279px;
  }
    .breadcrumbs{
      padding-left: 140px;
      padding-right: 200px;
      display: flex;
  }
    main {
      border: 2px solid green;
      display: flex;
      padding-left: 125px;
      padding-right: 200px;
      /* column-gap: 1rem; */
  }
}

@media screen and (max-width:829px) {
  aside{
      /* flex: 0 0 200px; */
      /* display: none; */
  }
  .header__2__title{
    padding-left: 150px;
    padding-right: 200px;
}
  .breadcrumbs{
    padding-left: 150px;
    padding-right: 200px;
    display: flex;
}
  main {
    border: 2px solid green;
    display: flex;
    padding-left: 150px;
    padding-right: 200px;
    /* column-gap: 1rem; */
}
}

/* ........css.......... */


.featured-parents {
    
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
    font-size: var(--font-size-base);
    color: #b1acac;
    font-family: var(--font-barlow);

    position: sticky;
    top: -2rem;
  }
  .group-child {
    background-color: var(--color-white);
    /* border: 5px solid rgba(0, 0, 0, 0.5); */
    /* width: 100%; */
  }
  .frame-parent {
    gap: var(--gap-md);
  }
  .recommended-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .mens-fashion-insider-container {
    background-color: #061fff;
    color: white;
    /* padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin-left: 1rem; */
    font-size: x-large;
  }

  .fashion-insider {
    /* font-weight: 700; */
  }
  

  .home {
    text-decoration: none;
    /* font-weight: 600; */
    color: inherit;
    /* padding-top: 1rem;
    padding-left: 1rem; */
  }
  
  .home,
  .current-trending,
  .div,
  .div1,
  .foot-treatment {
   
    /* padding-top: 1rem; */
    font-weight: bold;

  }
  .current-trending {
    text-decoration: none;
    color: inherit;
  }


  .div1,
  .foot-treatment {
    /* left: 449px; */
  }
  .foot-treatment {
    text-decoration: none;
    /* left: 466px; */
    color: inherit;
  }
  .advertorial {
    background-color: rgb(0 0 0);
    /* display: flex; */
    /* justify-content: center; */
    color: white;
  }
  
  .recommended {
    
    font-weight: 600;
    color: black
  }
 .recommended1{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
    
 }
  .vector-parent {
    cursor: pointer;
    background-color: transparent;
    border: none;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* gap: var(--gap-2xs); */
  }
  .reviews {
    /* position: relative; */
    /* font-size: var(--font-size-xs); */
    /* font-weight: 300; */
  }
 
  .frame-child {
    /* position: relative; */
    width: 150px;
    /* height: 20px; */
    /* flex-shrink: 0; */
    /* object-fit: cover; */
  }
  .reduces-foot-pain {
    /* flex: 1;
    position: relative; */
    font-weight: 300;
  }
  .vector-group {
    /* align-self: stretch; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-item {
    /* position: relative; */
    /* width: 226px; */
    height: 164px;
    /* flex-shrink: 0; */
    /* object-fit: cover; */
  }
  .check-availability,
  .oxford-derby-orthopedic {
    /* position: relative; */
    font-size: var(--font-size-xs);
    font-weight: 300;
    font-family: var(--font-roboto);
    color: var(--color-black);
    text-align: left;
  }
  .check-availability {
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-white);
  }
  .check-availability-wrapper {
    border-radius: var(--br-sm);
    background-color: var(--color-darkslateblue);
    /* display: flex; */
    flex-direction: row;
    padding: 8px var(--padding-md);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .oxford-derby-orthopedic-leathe-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    gap: var(--gap-xs);
    
  }
  .frame-group,
  .frame-parent,
  .oxford-derby-orthopedic-leathe-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -0.5rem;
  }
  .frame-group {
    width: 240px;
    gap: 13px;
    font-size: var(--font-size-xs);
  }
  
  .rectangle-parent {
    border: 1px solid black;
    width: 100%;
    text-align: left;
    color: var(--color-black);
    font-family: var(--font-roboto);
  }

  /* above rightside 
  below leftside css........................... */
 
  .these-leather-orthopedic {
  
    font-weight: bolder;
    /* display: flex; */
    font-size: x-large;
  }

  .hcfe767dedcef44bf9b99f14842baa-icon,
  .sneakers2020-trend-moccasins-a-icon {
   
    width: 100%;
    padding: 0;
  }

  
  
  
  .this-is-the-problem-with-foot {
    /* margin: 0; */
  }
  .if-you-struggle-container {
    /* padding-top: 2rem; */
  }
  .frame-parent1 {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    font-size: 36px;
  }

  .foot-pain-1200x1200-1-icon {
    width: 100%;
    /* margin-bottom: 1rem; */
  }
  .untreated-foot-pain-is-a-time-parent {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .foot-pain-is {
    font-family: var(--font-barlow);
  }
  .foot-pain-is-container {
    /* position: relative; */
    font-size: var(--font-size-lg);
    /* display: inline-block; */
    /* width: 836px; */
  }
  
  .the-truth-about {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  .oxford-derby-orthopedic1 {
    text-decoration: underline;
    color: #061fff;
  }
  .oxford-derby {
    text-decoration: underline;
    font-family: var(--font-barlow);
  }
  .if-you-spend {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  
  .over-12500 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  .working-as-a-container {
    font-size: var(--font-size-base);
  }

  .these-leather-orthopedic-shoes-parent{
    width: 100%;
  }

  .over-12500 {
    /* width: 50%; */
  }
  .group-item {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: var(--color-black);
    /* width: 10px; */
    /* height: 216px; */
    /* border: 1px solid red; */
  }
 
 
  .jacob-n {
    /* position: relative; */
    /* line-height: 150%; */
    font-weight: 700;
  }
  .vector-parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }


.review__1, .review__2, .review__3{
    border-left: 10px solid;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #F9F9F9;
}
  .frame-wrapper {
    /* position: absolute; */
    /* top: 0; */
    left: 10px;
    background-color: var(--color-whitesmoke);
    /* padding: var(--padding-lg); */
  }
  .rectangle-group {
    /* position: relative; */
    /* width: 850px; */
    height: 441px;
    /* flex-shrink: 0; */
    /* border: 1px solid red; */
    height: 256px;
  }
  .group-inner {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: var(--color-black);
    /* width: 10px; */
    height: 133px;
  }
  .rectangle-container {
    /* position: relative; */
    /* width: 850px; */
    height: 172px;
    /* flex-shrink: 0; */
  }
  .rectangle-div {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: var(--color-black);
    /* width: 10px; */
    height: 160px;
  }
  .group-div {
    /* position: relative; */
    /* width: 850px; */
    height: 192px;
    /* flex-shrink: 0; */
  }

  .group-parent {
    /* align-items: flex-end; */
    gap: var(--gap-xl);
    font-family: var(--font-montserrat);
    /* padding-left: 1rem; */
  }
 
  .designed-in-the-container {
    /* position: relative; */
    font-size: var(--font-size-base);
    /* display: inline-block; */
    /* width: 828px; */
  }
  .group-child1 {
    
    border: 5px solid var(--color-black);
    box-sizing: border-box;
    /* width: 850px; */
    height: 550px;
  }
  .rectangle-icon {
    
    width: 100%;
  }
  .conclusion-its-a {
    text-transform: uppercase;
    color: white;
    /* padding: 0.5rem; */
    
  }
  .conclusion-its-a-no-brainer-wrapper {
    /* position: absolute; */
    top: 20px;
    left: 20px;
    border-radius: var(--br-md) var(--br-md) 0 0;
    background-color: var(--color-darkslateblue);
    /* width: 810px; */
    display: flex;
    flex-direction: row;
    padding: 22px 248px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
 
  .the-company-behind-container {
    align-self: stretch;
    /* position: relative; */
  }
  .the-company-behind-the-oxford-wrapper {
    /* position: absolute; */
    top: 45px;
    left: 33px;
    /* width: 760px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-child2 {
    /* position: absolute; */
    top: 0;
    left: 0;
    border: 5px solid var(--color-black);
    box-sizing: border-box;
    /* width: 850px; */
    height: 302px;
  }
  .frame-parent10 {
    /* position: relative; */
    /* width: 850px; */
    height: 302px;
    /* flex-shrink: 0; */
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
  }
  .group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-md);
  }
  .check-availability-container {
    border-radius: var(--br-sm);
    background-color: var(--color-darkslateblue);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--font-size-base);
    font-family: var(--font-roboto);
    margin-top: 1.5rem;
    margin-bottom: 4rem;
  }
  .frame-parent9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    text-align: center;
    color: var(--color-white);
  }
  .check-availability2 {
    /* position: relative; */
    font-size: var(--font-size-base);
    display: inline-block;
    color: var(--color-white);
    /* width: 191px; */
  }
  .where-can-you,
  .you-can-try {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  .To_avoid{
    background-color: #C9F5FB;
  }
  .where-can-you {
    /* font-size: var(--font-size-xl); */
  }
  .their-official-website-here {
    text-decoration: underline;
  }
  .to-avoid-cheap-container {
    /* flex: 1; */
    position: relative;
    /* display: inline-block; */
    height: 384px;
  }
  .check-availability-frame,
  .to-avoid-cheap-knock-offs-the-wrapper {
    border-radius: var(--br-sm);
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 3rem;
  }
  .to-avoid-cheap-knock-offs-the-wrapper {
    background-color: #c9f5fb;
    padding: var(--padding-xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .check-availability-frame {
    background-color: var(--color-darkslateblue);
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .where-can-you-buy-these-oxford-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
    font-size: var(--font-size-base);
  }
  .since-writing-this {
    color: var(--color-black);
  }
  .important-updated-since-container {
    
    width: 100%;
    color: #EB1000;
    background-color: #F5C20F;
  }
  .important-updated-since-wri-wrapper {
    background-color: #f5c20f;
    /* width: 850px; */
    /* display: flex; */
    flex-direction: row;
    padding: var(--padding-xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-base);
    color: #eb1000;
    margin-top: 3rem;
  }
  .gatsby-shoes-all-container,
  .this-is-an-container {
    /* position: relative; */
    display: inline-block;
    /* width: 850px; */
    height: 27px;
    flex-shrink: 0;
  }
  .this-is-an-container {
    height: 113px;
  }
  .frame-container,
  .frame-parent11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
    font-size: var(--font-size-sm);
  }
  .frame-container {
    /* position: absolute; */
    top: 250px;
    left: 150px;
    align-items: center;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-xl);
  }
  /* .desktop-4 {
    /* position: relative; */
    background-color: var(--color-white);
    /* width: 100%; */
    /* height: 10220px; */
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-barlow);
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  